services:
  db:
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: kchbhi
      POSTGRES_DB: mydb

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "8888:8080"
