services:
  db:
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: @1234Asdf
      POSTGRES_DB: mydb

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "8888:8080"
